Alexey Arkhangelskiy
@arkhangelskiy.alex@gmial.com

In [201]:
# import necessary libraries 

import pandas as pd
import numpy as np

## Q1

In [97]:
# load data
admissions_med = pd.read_csv('/Users/pendovka/Desktop/data/admissions_med.csv')
admissions_surg = pd.read_csv('/Users/pendovka/Desktop/data/admissions_surg.csv')
imaging = pd.read_csv('/Users/pendovka/Desktop/data/imaging.csv')

# a)

In [98]:
merged_admissions = admissions_med.merge(admissions_surg, on = 'ID', how = 'outer')
list_ids = merged_admissions.ID.tolist()

# b)

In [99]:
q1b = pd.DataFrame(list_ids, columns=['ID'])
q1b['DE_ID'] = 'DE_' + q1b.index.astype(str)

print(q1b.head(10))

     ID DE_ID
0  1064  DE_0
1  1066  DE_1
2  1068  DE_2
3  1074  DE_3
4  1108  DE_4
5  1125  DE_5
6  1127  DE_6
7  1137  DE_7
8  1194  DE_8
9  1308  DE_9

# c)

In [101]:
print('every row in DE_ID columnd of q1b is unique: {}'.format(len(q1b.DE_ID) == q1b.DE_ID.nunique()))

every row in DE_ID columnd of q1b is unique: True

# d)

In [102]:
admissions_surg_deid = admissions_surg.merge(q1b, on='ID').drop('ID', axis=1)
admissions_surg_deid.columns = admissions_surg_deid.columns.str.lower()
admissions_surg_deid.columns = admissions_surg_deid.columns.str.replace('.', '_')
admissions_surg_deid.head()

,admission_date,admission_time,discharge_date,discharge_time,department,gender,age,main_diagnosis_icd10,main_diagnosis_name,de_id
0,1998-02-01,07:02,1998-03-31,07:17,General Surgery,M,NaN,E0800,Diabetes mellitus with complications,DE_2
1,2010-11-30,04:33,2011-03-25,20:59,General Surgery,F,24.0,M0500,Rheumatoid arthritis and related disease,DE_5
2,2015-03-05,09:40,2015-08-28,04:51,General Surgery,M,92.0,O045,Induced abortion,DE_6
3,1987-11-07,21:37,1988-05-10,15:32,General Surgery,F,93.0,A6000,Viral infection,DE_12
4,1997-07-03,03:44,1997-12-27,03:45,General Surgery,F,75.0,K640,Hemorrhoids,DE_14

In [103]:
admissions_med_deid = admissions_med.merge(q1b, on='ID').drop('ID', axis=1)
admissions_med_deid.columns = admissions_med_deid.columns.str.lower()

admissions_med_deid.head()

,admission_date,admission_time,discharge_date,discharge_time,department,gender,age,main_diagnosis_icd10,main_diagnosis_name,de_id
0,1985-10-19,04:27,1986-01-01,NaN,General Internal Medicine,M,63.0,N830,Ovarian cyst,DE_0
1,1990-06-26,21:06,1990-09-03,21:03,General Internal Medicine,F,63.0,N410,Inflammatory conditions of male genital organs,DE_1
2,1994-06-13,06:36,1994-12-22,07:21,General Internal Medicine,F,51.0,K640,Hemorrhoids,DE_3
3,2005-03-11,21:54,2005-04-19,NaN,General Internal Medicine,F,NaN,C6200,Cancer of testis,DE_4
4,1997-06-26,09:49,1997-09-06,21:03,General Internal Medicine,M,81.0,I462,Cardiac arrest and ventricular fibrillation,DE_7

In [104]:
imaging_deid = imaging.merge(q1b, on='ID').drop('ID', axis=1)
imaging_deid.columns = imaging_deid.columns.str.lower()

imaging_deid.head()

,test_name,ordered_date_time,performed_date,performed_time,technician_name,brief_report,de_id
0,US,NaN,1985-12-17,10:27,Trevon Hopson,No significant abnormality,DE_0
1,US PELVIS,NaN,1985-12-02,11:40,Claire Melko,Indication: normal,DE_0
2,Abdomen CT,NaN,1990-08-05,12:26,Ladonna Mcallister,Indication: Normal,DE_1
3,US,NaN,1998-03-24,16:15,claire melko,Indication: Normal,DE_2
4,CT neck + head,NaN,1994-11-05,01:36,Lorena Burciaga,Normal,DE_3

## Q2

In [105]:
merged_admissions = pd.concat([admissions_med_deid, admissions_surg_deid], ignore_index=True)
admissions_img = merged_admissions.merge(imaging_deid, on = 'de_id', how = 'outer')
admissions_img = admissions_img.set_index('de_id', drop = True)
admissions_img.head()

,admission_date,admission_time,discharge_date,discharge_time,department,gender,age,main_diagnosis_icd10,main_diagnosis_name,test_name,ordered_date_time,performed_date,performed_time,technician_name,brief_report
de_id,,,,,,,,,,,,,,,
DE_0,1985-10-19,04:27,1986-01-01,NaN,General Internal Medicine,M,63.0,N830,Ovarian cyst,US,NaN,1985-12-17,10:27,Trevon Hopson,No significant abnormality
DE_0,1985-10-19,04:27,1986-01-01,NaN,General Internal Medicine,M,63.0,N830,Ovarian cyst,US PELVIS,NaN,1985-12-02,11:40,Claire Melko,Indication: normal
DE_1,1990-06-26,21:06,1990-09-03,21:03,General Internal Medicine,F,63.0,N410,Inflammatory conditions of male genital organs,Abdomen CT,NaN,1990-08-05,12:26,Ladonna Mcallister,Indication: Normal
DE_10,2002-10-10,01:25,2002-11-30,19:59,Palliative Care,F,35.0,N7001,Inflammatory diseases of female pelvic organs,ct neck and head,NaN,2002-11-21,17:52,Andrea Kohlts,Indication: No tumors
DE_100,2018-06-16,17:41,2018-08-01,03:33,General Internal Medicine,F,76.0,J60,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Q3

In [114]:
# Let us examine if there are any NaN in the columns we need to use:

print(admissions_img['discharge_date'].isnull().sum())
print(admissions_img['discharge_time'].isnull().sum())
print(admissions_img['admission_date'].isnull().sum())
print(admissions_img['admission_time'].isnull().sum())

# Some of the 'discharge_time' entries are NaN. since they constitute a big portion of our data, we cannot drop them.
# Let us instead convert those NaN to '00:00:00'
admissions_img['discharge_time'].fillna('00:00:00', inplace=True)

0
0
0
0

/var/folders/69/x44wvyy100vbnknf789slc000000gn/T/ipykernel_56418/1734995442.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  admissions_img['discharge_time'].fillna('00:00:00', inplace=True)

In [113]:
# The time format of disharge_time and admission_time varies. Need to adress that and format time as HH:MM

def time_format(time_str):
    parts = time_str.split(':')
    return parts[0] + ':' + parts[1]

admissions_img['admission_time'] = admissions_img['admission_time'].apply(time_format)
admissions_img['discharge_time'] = admissions_img['discharge_time'].apply(time_format)

admissions_img['admission_datetime'] = pd.to_datetime(admissions_img['admission_date'] + ' ' + admissions_img['admission_time'], errors='coerce')
admissions_img['discharge_datetime'] = pd.to_datetime(admissions_img['discharge_date'] + ' ' + admissions_img['discharge_time'], errors='coerce')

admissions_img['length_of_stay'] = admissions_img['discharge_datetime'] - admissions_img['admission_datetime']

# The task requires length_of_stay to be measured in days
admissions_img['length_of_stay'] = admissions_img['length_of_stay'].dt.days

# Mean length of stay for each department
admissions_img.groupby('department').length_of_stay.mean()

department
Addiction Services           100.463378
General Internal Medicine     98.363934
General Surgery              100.310811
Obstetrics                   105.015209
Oncology                     102.302477
Palliative Care               95.223404
Name: length_of_stay, dtype: float64

## Q4

In [115]:
imaging.head()

,ID,test_name,ordered_date_time,performed_date,performed_time,technician_name,brief_report
0,1064,US,NaN,1985-12-17,10:27,Trevon Hopson,No significant abnormality
1,1064,US PELVIS,NaN,1985-12-02,11:40,Claire Melko,Indication: normal
2,1066,Abdomen CT,NaN,1990-08-05,12:26,Ladonna Mcallister,Indication: Normal
3,1068,US,NaN,1998-03-24,16:15,claire melko,Indication: Normal
4,1074,CT neck + head,NaN,1994-11-05,01:36,Lorena Burciaga,Normal

No example of how the table should look like provided in the task. I will present two versions:

In [177]:
imaging['performed_datetime'] = pd.to_datetime(imaging['performed_date'].astype(str) + ' ' + imaging['performed_time'].astype(str))
q4_df = imaging.sort_values(by='performed_datetime').drop_duplicates(subset='test_name', keep='first')
q4_df = q4_df.pivot(columns='test_name', values='performed_date')
q4_df.head()

test_name,ABDOMEN/PELVIS US,Abdomen CT,CT,CT - ABDOMEN,CT - Femur,CT neck + head,DOP LEG VEIN,DOPPLER US,Doppler Ultrasound,Head ct,LT LEG DOPPLER,NECK AND HEAD CT,RT LEG DOPPLER,THORAX/ABDOMEN CT,US,US ABDOMEN,US PELVIS,Ultrasound,ct neck,ct neck and head
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-05-15,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,1980-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,1980-04-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301,1980-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-06-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
q4_df = imaging.sort_values(by='performed_datetime').drop_duplicates(subset='test_name', keep='first')
q4_df = q4_df[['test_name', 'performed_date']]

q4_df['fake_index'] = 'index'

wide_df = q4_df.pivot(index='fake_index', columns='test_name', values='performed_date')

wide_df.reset_index(drop=True, inplace=True)

print(wide_df.to_string(index=False))

ABDOMEN/PELVIS US Abdomen CT         CT CT - ABDOMEN CT - Femur CT neck + head DOP LEG VEIN DOPPLER US Doppler Ultrasound    Head ct LT LEG DOPPLER NECK AND HEAD CT RT LEG DOPPLER THORAX/ABDOMEN CT         US US ABDOMEN  US PELVIS Ultrasound    ct neck ct neck and head
       1980-02-17 1980-04-20 1980-04-16   1980-03-16 1981-08-14     1980-03-24   1980-03-19 1980-08-15         1980-01-30 1980-03-02     1980-06-11       1980-02-04     1980-10-05        1982-08-03 1980-04-19 1980-01-13 1981-01-26 1980-03-16 1980-05-15       1980-02-28

## Q5

In [181]:
admissions_img.head()

,admission_date,admission_time,discharge_date,discharge_time,department,gender,age,main_diagnosis_icd10,main_diagnosis_name,test_name,ordered_date_time,performed_date,performed_time,technician_name,brief_report,admission_datetime,discharge_datetime,length_of_stay
de_id,,,,,,,,,,,,,,,,,,
DE_0,1985-10-19,04:27,1986-01-01,00:00,General Internal Medicine,M,63.0,N830,Ovarian cyst,US,NaN,1985-12-17,10:27,Trevon Hopson,No significant abnormality,1985-10-19 04:27:00,1986-01-01 00:00:00,73
DE_0,1985-10-19,04:27,1986-01-01,00:00,General Internal Medicine,M,63.0,N830,Ovarian cyst,US PELVIS,NaN,1985-12-02,11:40,Claire Melko,Indication: normal,1985-10-19 04:27:00,1986-01-01 00:00:00,73
DE_1,1990-06-26,21:06,1990-09-03,21:03,General Internal Medicine,F,63.0,N410,Inflammatory conditions of male genital organs,Abdomen CT,NaN,1990-08-05,12:26,Ladonna Mcallister,Indication: Normal,1990-06-26 21:06:00,1990-09-03 21:03:00,68
DE_10,2002-10-10,01:25,2002-11-30,19:59,Palliative Care,F,35.0,N7001,Inflammatory diseases of female pelvic organs,ct neck and head,NaN,2002-11-21,17:52,Andrea Kohlts,Indication: No tumors,2002-10-10 01:25:00,2002-11-30 19:59:00,51
DE_100,2018-06-16,17:41,2018-08-01,03:33,General Internal Medicine,F,76.0,J60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-06-16 17:41:00,2018-08-01 03:33:00,45

In [194]:
num_columns = admissions_img.shape[1]

q5_df = admissions_img.dropna(thresh=num_columns-1)

missing_rate = q5_df.isnull().mean().mul(100).round(2)

print(missing_rate)

admission_date           0.00
admission_time           0.00
discharge_date           0.00
discharge_time           0.00
department               0.00
gender                   0.00
age                      3.74
main_diagnosis_icd10     0.00
main_diagnosis_name      5.65
test_name                0.00
ordered_date_time       30.83
performed_date           0.00
performed_time           0.00
technician_name          0.00
brief_report             0.00
admission_datetime       0.00
discharge_datetime       0.00
length_of_stay           0.00
dtype: float64

## Q6

# a)

In [198]:
img_mapper = imaging.test_name.value_counts().reset_index()
img_mapper.columns = ['test_name', 'frequency']
img_mapper.head()

          test_name  frequency
0                US        680
1                CT        511
2        Ultrasound        441
3  ct neck and head        408
4        US ABDOMEN        396

# b)

In [217]:
img_mapper['test_name'] = img_mapper['test_name'].str.lower() #bring test_name to standard format

def classify_test(test_name):
    if "us" in test_name in test_name:
        return "US"
    elif "ct" in test_name:
        return "CT"
    else:
        return "Others"

img_mapper['mapped_test'] = img_mapper['test_name'].apply(classify_test)

img_mapper.head(10)

          test_name  frequency mapped_test mapped_bodypart
0                us        680          US          Others
1                ct        511          CT          Others
2        ultrasound        441      Others          Others
3  ct neck and head        408          CT       Neck/Head
4        us abdomen        396          US  Abdomen/pelvis

# c)

In [219]:
def classify_bodypart(test_name):
    if "neck" in test_name or "head" in test_name:
        return "Neck/Head"
    elif "abdomen" in test_name or "pelvis" in test_name:
        return "Abdomen/pelvis"
    else:
        return "Others"

img_mapper['mapped_bodypart'] = img_mapper['test_name'].apply(classify_bodypart)

print(img_mapper.head(10))

            test_name  frequency mapped_test mapped_bodypart
0                  us        680          US          Others
1                  ct        511          CT          Others
2          ultrasound        441      Others          Others
3    ct neck and head        408          CT       Neck/Head
4          us abdomen        396          US  Abdomen/pelvis
5      ct neck + head        385          CT       Neck/Head
6   abdomen/pelvis us        313          US  Abdomen/pelvis
7        ct - abdomen        310          CT  Abdomen/pelvis
8    neck and head ct        248          CT       Neck/Head
9  doppler ultrasound        233      Others          Others

## Q7

In [223]:
admdad = pd.read_csv('/Users/pendovka/Desktop/data/Q7_admdad.csv')
admdad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   encounter_id    171 non-null    object
 1   age             171 non-null    object
 2   country         171 non-null    object
 3   birth_date      170 non-null    object
 4   admission_date  169 non-null    object
 5   discharge_date  169 non-null    object
 6   hospital_num    169 non-null    float64
dtypes: float64(1), object(6)
memory usage: 9.5+ KB

In [225]:
nan_values = admdad[admdad.isna().any(axis=1)]
print(nan_values)

    encounter_id       age    country birth_date admission_date  \
169       208162        96     Canada        NaN            NaN
170    4/18/1968  3/3/2023  3/16/2023        101            NaN

    discharge_date  hospital_num
169            NaN           NaN
170            NaN           NaN

In [227]:
admdad.age.value_counts()

age
26          7
Age: 50     6
68          6
94          5
Age: 65     5
           ..
34          1
14          1
Age: 25     1
81          1
3/3/2023    1
Name: count, Length: 90, dtype: int64

Data Quality issues: 
* incorrect data types (age as an object, birth_date as an object, etc..)
* missing values for hospital_numbers, admission date..
* age is written as a date or a string. incosistent formatting.

## Q8

Missing values or extremely low volue of admissions in Nov - Dec 2021 (or sometime before January 2021) is suspicious (see the top plot).
Incosistent volume – higher number of admissions in May - June 2021 (see top plot).
Almost no imaging occurs before admission (see bottom-left plot)
Some admissions occur after discharge (see bottom-right plot).